<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='pl_PL' xml:lang='pl_PL' xmlns='http://www.w3.org/1999/xhtml'>
  <head>
    <title>KLP Printer</title>
    <meta content='text/html; charset=utf-8' http-equiv='content-type'></meta>
    <link href='http://s.teamon.eu/assets/heroku.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id="container">
      <div id='main'>    
        <h1>KLP Printer</h1> 
        <div class="info"> 
          <a href="http://github.com/teamon/klp">source code</a>
        </div>
        
        <form method="get" action="/">
          <fieldset>
            <label for="url" class="big">Adres</label>
            <input class="text big" type="text" name="url" />
          </fieldset>
          <p class="actions">
            <input type="submit" class="submit" value="Polacz" />
          </p>
          <div id="howto">
            Podaj link do artykułu z <a href="http://klp.pl">klp.pl</a> lub <a href="http://ostatnidzwonek.pl">ostatnidzwonek.pl</a>
          </div>
        </form>
      </div>

      <div id='foot'>
        <div id="more">
          <a href="http://blog.teamon.eu">blog</a> |
          <a href="http://teamon.tumblr.com">tumblr</a> |
          <a href="http://github.com/teamon">github</a> |
          <a href="http://klp.heroku.com">KLP Printer</a> |
          <a href="http://pwr.heroku.com">Generator planu PWR</a>
        </div>
        <p class="copy">
          &copy; 2008 - 2010 | <a href='http://teamon.eu'>teamon.eu</a>
        </p>
      </div>
    </div>
  </body>
</html>
